.loading {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  animation-name: slideInTop;
  animation-duration: 500ms;
  animation-fill-mode: both;
  -webkit-animation-name: slideInTop;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: 500ms;
  border: 1px solid #5c81b8;
  border-radius: 5px;
  background: white;
  z-index: 1;
  padding: 5px 10px;
}
